@using PrimeCafeManagement.Models;
@model Menu;
<div class="row">
	<div class="col-4 offset-4">
		<div class="card">
			<div class="header">
				<h4 class="text-center bg-light py-3">Menu Form</h4>
			</div>
			<div class="card-body">
				@if (!string.IsNullOrEmpty(ViewBag.Error))
				{
					<p class="text-danger">@ViewBag.Error</p>
				}
				<form action="/Manager/AddUpdateMenu" method="post" enctype="multipart/form-data">
					<input type="hidden" asp-for="Id" />
					<input type="hidden" asp-for="Image" />
					
					<div class="mb-3">
						<label class="form-label">Menu Title</label>
						<select class="form-select form-label" asp-for="MenuTitleId" asp-items="ViewBag.MenuTitles">
							<option>--Select Menu Title--</option>
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label">Image</label>
						<input class="form-control" type="file" asp-for="Image" name="file" />
					</div>
					<div class="mb-3">
						<label class="form-label">Menu Price</label>
						<select class="form-select form-label" asp-for="MenuPriceId" asp-items="ViewBag.MenuPrices">
							<option>--Select Menu Price--</option>
						</select>
					</div>
					<div class="text-center">
						<button class="btn btn-primary" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
