@using PrimeCafeManagement.Models;
@model List<MenuPrice>;
<div class="row">
	<div class="card">
		<div class="card-header bg-light py-3">
			<h4> Add Menu Price [<a href="/Manager/AddUpdateMenuPrice">Add Menu Price</a>]</h4>
		</div>
		<div class="card-body">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (MenuPrice menuPrice in Model)
					{
						<tr>
							<td>@menuPrice.Id</td>
							<td>@menuPrice.Name</td>
							<td>
								<a href="/Manager/AddUpdateMenuPrice/@menuPrice.Id">Edit |</a>
								<a href="/Manager/DeleteMenuPrice/@menuPrice.Id">Delete</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>