@* HELP PAGE WITH TELEPHONIC CONTACTS *@
<div class="row">
	<div class="col-md-4 offset-4">
		<div class="card text-center bg-light my-4">
			<div class="card-header bg-primary"><h4>Help</h4></div>
			<div class="card-body bg-white">
				<table class="table table-bordered border-4 table-hover table-stripped">
					<thead>
						<tr>
							<th>Department</th>
							<th>Contact No.</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Admin</td>
							<td>0300-1201201</td>
						</tr>
						<tr>
							<td>Manager</td>
							<td>0300-1201202</td>
						</tr>
						<tr>
							<td>Kitchen</td>
							<td>0300-1201203</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>