@using PrimeCafeManagement.Models;
@model User
<div class="row">
	<div class="col-4 offset-4">
		<div class="card">
			<div class="header bg-light py-3">
				<h4 class="text-center">User Form</h4>
			</div>
			<div class="card-body">
				@if (!string.IsNullOrEmpty(ViewBag.Error))
				{ 
					<p class="text-danger">@ViewBag.Error</p>
				}
				<form action="/Admin/AddUpdateUser" method="post" enctype="multipart/form-data">
					<input type="hidden" asp-for="Id" />
					<input type="hidden" asp-for="Image" />
					<div class="mb-3">
						<label class="form-label">RoleId</label>
						<select class="form-select form-label" asp-for="RoleId" asp-items="ViewBag.Roles">
							<option>--Select Role--</option>
						</select>
					</div>

					<div class="mb-3">
						<label class="form-label">Name</label>
						<input class="form-control" type="text" asp-for="Name" />
					</div>

					<div class="mb-3">
						<label class="form-label">Image</label>
						<input class="form-control" type="file" asp-for="Image" name="file" />
					</div>

					<div class="mb-3">
						<label class="form-label">Email</label>
						<input class="form-control" type="Email" asp-for="Email" />
					</div>

					<div class="mb-3">
						<label class="form-label">Password</label>
						<input class="form-control" type="password" asp-for="Password" />
					</div>
					<div class="text-center">
						<button class="btn btn-primary" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
