@using PrimeCafeManagement.Models;
@model List<Role>;
<div class="row">
	<div class="card">
		<div class="card-header bg-light py-3">
			<h4> Add Role [<a href="/Admin/AddUpdateRole">Add Role</a>]</h4>
		</div>
		<div class="card-body">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (Role role in Model)
					{
						<tr>
							<td>@role.Id</td>
							<td>@role.Name</td>
							<td>
								<a href="/Admin/AddUpdateRole/@role.Id">Edit |</a>
								<a href="/Admin/DeleteRole/@role.Id">Delete</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
