@* //TO ACCESS DATA WITH DIFFERENT USERS *@

@using Microsoft.EntityFrameworkCore;
@inject PrimeCafeContext _context;
@{
	var accessToken = Context.Request.Cookies["user-access-token"];
	User user = null;
	if (!string.IsNullOrEmpty(accessToken))
	{
		user =
			_context.Users.Where(x => x.AccessToken == accessToken).Include(x => x.Role).FirstOrDefault();
	}
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - PrimeCafeManagement</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/PrimeCafeManagement.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PrimeCafeManagement</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						@* <li class="nav-item"> *@
						@* 	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
						@* </li> *@
						@if (user != null && user.Role.Name == "Admin")
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddUpdateUser">Create Users</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Users">View All User</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddUpdateRole">Add Role</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Roles">View Role</a>
							</li>
						}
						else if (user != null && user.Role.Name == "Manager")
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="Menus">View Menus</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="MenuTitles">Menu Title</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="MenuPrices">Menu Price</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="Dashboards">Dash Board</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="ManagerOrderHistoryServed">Order Served History</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="ManagerOrderHistoryCancel">Order Cancel History</a>
							</li>
						}
						else if (user != null && user.Role.Name == "Customer")
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Orders">View Orders</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="CurrentOrder">Current Orders</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="AddUpdateOrder">New Orders</a>
							</li>
						}
					</ul>
					<ul class="navbar-nav ms-auto">
						@if (user == null)
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="AddUpdateUser">Register</a>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link text-dark" href="#">
									<img src="/image/@user.Image" alt="Photo here" width="30" height="30" /> @user.Name (@user.Role.Name)
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
							</li>
						}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container-fluid">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer class="border-top footer bg-light text-muted">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<span>&copy; 2025 - PrimeCafeManagement</span>
			<nav>
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link text-muted" asp-area="" asp-controller="Account" asp-action="Privacy">Privacy Policy</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-muted" asp-area="" asp-controller="Account" asp-action="Terms">Terms & Condition</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-muted" asp-area="" asp-controller="Account" asp-action="AboutUs">About Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-muted" asp-area="" asp-controller="Account" asp-action="Help">Help</a>
					</li>
				</ul>
			</nav>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
